.page-footer {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    align-items: center;
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    min-height: 126px;
  }

  .page-footer__logo-wrapper {
    font-size: 0;
    width: 147px;
    height: 40px;
    background-image: url("../img/logotype-footer-tablet.png");
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: -12px;
  }

  .page-footer__socials {
    display: flex;
    justify-content: space-between;
    width: 177px;
    font-size: 0px;
    margin-left: 73px;
    margin-top: 1px;
  }

  .page-footer__twitter {
    display: block;
    width: 52px;
    height: 51px;
    background-image: url("../img/twitter-normal.png");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../img/twitter-hover.png");
    }

    &:active {
      background-image: url("../img/twitter-active.png");
    }
  }

  .page-footer__fb {
    display: block;
    width: 52px;
    height: 51px;
    background-image: url("../img/fb-normal.png");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../img/fb-hover.png");
    }

    &:active {
      background-image: url("../img/fb-active.png");
    }
  }

  .page-footer__youtube {
    display: block;
    width: 52px;
    height: 51px;
    background-image: url("../img/ytb-normal.png");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../img/ytb-hover.png");
    }

    &:active {
      background-image: url("../img/ytb-active.png");
    }
  }

  .page-footer__copyright {
    margin-left: auto;
    margin-right: 25px;
    margin-top: 6px;
    text-align: center;
  }

  .page-footer__copyright-content {
    font-size: 14px;
    line-height: 18px;
    color: #283645;
    .font(@fontRegular, normal, normal);
    text-decoration: none;

    &:hover {
      color: #d22856;
      text-decoration: underline;
    }

    &:active {
      color: #d22856;
      opacity: 0.5;
      text-decoration: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 200px;
  }

  .page-footer__logo-wrapper {
    background-image: url("../img/logotype-footer-desktop.png");
    margin-top: -18px;
  }

  .page-footer__socials {
    margin-left: 233px;
    margin-top: -2px;
  }

  .page-footer__copyright {
    margin-right: 20px;
  }

  .page-footer__copyright-content {
    font-size: 18px;
  }
}
