.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    background-color: #1d2631;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    background-color: #1d2631;
    background-image: url("../img/bg-back-desktop.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%;
  }
}
