.panorama {
  background-color: #ffffff;
}

.panorama__wrapper {
  position: relative;
  width: 320px;
  height: 137px;
  margin: 0 auto;
}

.panorama__img {
  display: block;
  width: 100%;
  height: auto;
}

.panorama__link {
  position: absolute;
  top: 0;
  right: 20px;
  display: block;
  box-sizing: border-box;
  padding-left: 19px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 140px;
  font-size: 12px;
  line-height: 24px;
  .font(@fontBold, bold);
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .panorama__wrapper {
    position: relative;
    width: 660px;
    height: 510px;
    margin: 0 auto;
  }

  .panorama__img {
    display: block;
    width: 100%;
    height: 510px;
  }

  .panorama__link {
    position: absolute;
    top: 56px;
    right: 20px;
    display: block;
    box-sizing: border-box;
    padding-left: 19px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 140px;
    font-size: 12px;
    line-height: 24px;
    .font(@fontBold, bold);
    color: #ffffff;
    text-transform: uppercase;
    background-color: #d22856;
  }
}

@media (min-width: @desktop-width) {
  .panorama__wrapper {
    position: relative;
    width: 1200px;
    height: 507px;
    margin: 0 auto;
  }

  .panorama__img {
    display: block;
    width: 100%;
    height: 507px;
  }

  .panorama__link {
    position: absolute;
    top: 54px;
    right: 130px;
    display: block;
    box-sizing: border-box;
    padding-left: 19px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 140px;
    font-size: 12px;
    line-height: 24px;
    .font(@fontBold, bold);
    color: #ffffff;
    text-transform: uppercase;
    background-color: #d22856;
  }
}
