.page-header {
  display: flex;
  flex-direction: column;
}
.page-header__wrapper {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
}
