.page-header {
  background-color: #1d2631;
}
.page-header__wrapper {
  position: relative;
  width: 320px;
  min-height: 460px;
  background-image: url("../img/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header__phone-picture {
  position: absolute;
  bottom: -30px;
}
