.font(@fontName; @weight: normal; @style: normal) {
  font-family: '@{fontName}';
  src: url('../fonts/@{fontName}.woff') format('woff'),
    url('../fonts/@{fontName}.woff2') format('woff2');
  font-weight: @weight;
  font-style: @style;
}

.a-style {
  display: block;
  text-decoration: none;
  color: @white;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  .font(@fontBold, bold);
}

.h2 {
  font-size: 40px;
  line-height: 48px;
  .font(@fontLight);
  font-weight: 300;
  color: #ffffff;
  margin: 0px;
}

.mobile-table-pseudoelement {
  position: absolute;
  left: 21px;
  display: block;
  width: 135px;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  .font(@fontRegular, normal, normal);
  text-transform: uppercase;
}
